<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/">{{ site.title }}</a>
	</div>
	<p class="lead">{{ site.description }}</p>
	{%- if social.github -%}
		<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
			<svg class="svg-icon grey">
				<use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}" />
			</svg></a></li>
	{%- endif -%}
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/">Study</a><br>
		<a class="nav-item" href="{{blog}}">Blog</a>
	  </li>
	  
	</ul>
</div>

<div class="sidebar-item sidebar-footer">
	<p>Instargram <a href="https://www.instagram.com/yu_ju_kyeong/"> : yu_ju_kyeong</a> <br>
	Git : <a href="https://github.com/jukang3570"> jukang3570</a> <br>
	Contact : asekf122@gmail.com
	</p>
</div>